<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Details Form</title>
</head>
<body>
    <img src="/pdma-logo.png" alt="PDM Logo" style="width: 200px; height: 200px;">
    <a href="/"><h1>Homepage</h1></a>
    <h1>Driver Details Form</h1>
    <form action="/drivers" method="post">
        <label for="driver-name">Driver Name:</label>
        <input type="text" name="driverName" required><br><br>

        <label for="driver-department">Driver Department:</label>
        <input type="text" name="driverDepartment" required><br><br>

        <label for="driver-licence">Driver Licence:</label>
        <input type="text" name="driverLicence" required><br><br>

        <label for="driver-active">Driver is Active:</label>
        <input type="checkbox" name="driverIsActive"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
<footer>
    <p>&copy; 2024 Package Delivery Management Application. All rights reserved.</p>
</footer>
</html>
