<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Driver</title>
</head>
<body>
    <img src="/pdma-logo.png" alt="PDM Logo" style="width: 200px; height: 200px;">
    <a href="/"><h1>Homepage</h1></a>
    <h1>Delete Driver</h1>
    <form action="/drivers/delete" method="post">
        <label for="driver-id">Driver ID:</label>
        <input type="text" name="driverID" required><br><br>

        <button type="submit">Delete</button>
    </form>
</html>