<html>
    <head>
        <title>Assignment-1</title>
    </head>
    <body>
        <img src="/pdma-logo.png" alt="PDM Logo" style="width: 200px; height: 200px;">
        <h1>Homepage</h1>
        <table>
            <tr>
                <th>Link</th>
                <th>Description</th>
            </tr>
            <tr>
                <td><a href="/drivers/add">Add Driver</a></td>
                <td>Add a new driver</td>
            </tr>
            <tr>
                <td><a href="/packages/add">Add Package</a></td>
                <td>Add a new package</td>
            </tr>
            <tr>
                <td><a href="/drivers">List Drivers</a></td>
                <td>View all drivers</td>
            </tr>
            <tr>
                <td><a href="/packages">List Packages</a></td>
                <td>View all packages</td>
            </tr>
            <tr>
                <td><a href="/drivers/delete">Delete Driver</a></td>
                <td>Delete a driver</td>
            </tr>
            <tr>
                <td><a href="/packages/delete">Delete Package</a></td>
                <td>Delete a package</td>
            </tr>
    </body>
</html>